.appback {  
  background: rgb(250,237,234);
background: radial-gradient(circle, rgba(250,237,234,1) 21%, rgba(242,243,247,1) 45%);
}

.appback1 {
  background: rgb(215,223,230);
background: radial-gradient(circle, rgba(215,223,230,1) 0%, rgba(240,243,246,1) 100%)
 }


.appback4 {
  background: #fceabb;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #f8b500, #fceabb);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #f8b500, #fceabb); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

 
